@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Mulish:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    margin: 0;
}

li {
    font-family: Mulish;  
    
    font-weight: bold;
    border-radius: 24px;
    background-color: #698c90;
   
    
}

li:hover {
    background-color: #b3c8ca;
}

h1 {
    text-align: center;
    color: azure;
}

nav {
    background-image: url('/src/assets/backgroundpattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(220, 255, 229);
    font-size: 32px;
    font-weight: bold;
    text-shadow: #698c90;
}

