.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.card {
  width: 18rem;
  background-color: #698c90;
  margin: 60px 60px 60px 60px;
}

.btn-primary {
  background-color: #e6d1b2;
  border-color: #ffd085;
}

.btn:hover {
  background-color: #b6d9dd;

}

card-img-top {
  width: 200px;
  height: 200px;
}

body{
  background-color: #b6d9dd;
}